.image {
   width: 100%;
   overflow: hidden;
   border-radius: 10px;
}

.box img {
   width: 100%;
   transition: 0.3s ease-in-out;
}

.box p {
   font-size: 1rem;
}

.price {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-top: 8px;
}
.icon-img {
   display: flex;
}
.price img {
   width: 1.5rem;
   height: 1.5rem;
   padding: 0.2rem 0.3rem;
   margin-right: 0.2rem;
   border-radius: 50%;
   background-color: rgb(143, 9, 245);
   color: white;
}

.price p {
   font-weight: bold;
}

.details {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-top: 8px;
}

.details p {
   font-size: 1rem;
}

.buy {
   padding: 8px 0 8px 0;
   text-align: end;
}
.upload-image {
   text-align: center;
   padding: 0 8px 0 8px;
}
